@using System;
@using NinthBall.Core;
@using NinthBall.Outputs;

<!-- TabSet - Details on chosen percentiles -->
<div>

    <ul class="nav" role="tablist">
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Details: </a>
        </li>
        @foreach (var p in Percentiles)
        {
            var pctlId = PercentileId(p);
            var pctlCaption = p.PctlName;

            var isActive = p == ActivePctl ? "active" : "";

            <li class="nav-item">
                <a class="nav-link @isActive" data-bs-toggle="tab" href="#@(pctlId)">@pctlCaption</a>
            </li>
        }
    </ul>

    <div class="tab-content">
        @foreach (var p in Percentiles)
        {
            var iter = Model.Percentile(p);
            var pctlId = PercentileId(p);
            var caption = $"{p.PctlName} Percentile";
            var isActive = p == ActivePctl ? "active" : "";
            <div class="tab-pane @isActive" id="@(pctlId)">
                <SimIterationDetails Id="@pctlId" Caption="@caption" Iteration=iter OutputConfig=OutputConfig />
            </div>
        }
    </div>
</div>

@code
{
    [Parameter] public SimResult Model { get; set; } = null!;
    [Parameter] public SimOutput OutputConfig { get; set; }

    private IReadOnlyList<double> Percentiles => OutputConfig.Percentiles;

    private double? ActivePctl => Percentiles.Count == 0 ? null : Percentiles.OrderBy(p => Math.Abs(p - SimOutputDefaults.TargetPercentile)).First();

    // Computes an unique html-id for the chosen percentile.
    static string PercentileId(double pctl) => $"{pctl * 100:00}";
}