@using System;
@using NinthBall.Core;

<div class="section">

    @{
        SimYear Y0 = SimResult.Iterations[0].FirstYear;

        var startPreTax   = $"{Y0.Jan.PreTax.Amount:C0}";
        var startPostTax  = $"{Y0.Jan.PostTax.Amount:C0}";
        var startAlloc    = Y0.Jan.PreTax.Allocation;
        int numYears      = SimResult.NoOfYears;
        int numIterations = SimResult.Iterations.Count;
    }

    <h4 class="mt-3">
        @startPreTax pre-tax + @startPostTax post-tax | @($"{startAlloc:P0}") stocks | @(numYears) years | @($"{numIterations:#,0}") iterations
    </h4>

    <div class="accordion accordion-flush" id="accAssumptions">
        <div class="accordion-item">
            <h2 class="accordion-header" id="accAssumptionsTitle">
                <button class="accordion-button collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#accAssumptionsBlock" aria-expanded="false" aria-controls="accAssumptionsBlock">
                    Expand to view strategies and assumptions:
                </button>
            </h2>
            <div id="accAssumptionsBlock" class="accordion-collapse collapse" aria-labelledby="accAssumptionsTitle" data-bs-parent="#accAssumptions">
                <div class="accordion-body">
                    <ul>
                        @if(!string.IsNullOrWhiteSpace(InputFileName))
                        {
                            <li>
                                Input | @(Path.GetFileName(InputFileName))
                            </li>
                        }
                    
                        @foreach (var strategy in SimResult.Strategies)
                        {
                            <li>@strategy</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

@code
{
    [Parameter] public string InputFileName { get; set; } = string.Empty;
    [Parameter] public SimResult SimResult { get; set; } = null!;
}