@using System;
@using NinthBall.Core;

<!-- Presents year-by-year details of single iteration -->
<table id="@Id" class="table table-sm caption-top page-break mb-0" style="zzztable-layout: fixed; width: 100%;">
    <caption>
        <h3>@Caption</h3>
    </caption>
    <thead>
    </thead>
    <tbody>

        <!-- Summary row (totals, ann-returns, etc.) on top -->

        <!-- Labels are printed summary row on top -->
        <tr>
            <th>Yr</th>
            <th>Age</th>

            <th>J-401K</th>
            <th>J-Inv</th>
            <th>Alloc</th>
           
            <th>Fees</th>
            <th>Taxes</th>
            <th>Exp</th>

            <th>SS</th>
            <th>ANN</th>

            <th>X401K</th>
            <th>XInv</th>
            <th>XCash</th>

            <th>Change</th>
            <th>ROI (Y|S|B)</th>

        </tr>

        <!-- Details -->
        @foreach (var y in Iteration.ByYear.Span)
        {
            double fromPreTax  = y.Withdrawals.PreTax * -1; 
            double fromPostTax = y.Deposits.PostTax - y.Withdrawals.PostTax;
            double fromCash    = y.Deposits.Cash - y.Withdrawals.Cash;

            // static string K0(double amount) => amount > 1 || amount < -1 ? $"{amount / 1000:C0}" : string.Empty;
            static string R100(double amount) => amount > 1 || amount < -1 ? $"{Math.Round(amount/100) * 100:C0}" : string.Empty;

            static string P0(double pct) => $"{pct:P0}";

            <tr>
                <td>@(y.Year + 1)</td>
                <td>@y.Age</td>

                <td>@R100(y.Jan.PreTax.Amount)</td>
                <td>@R100(y.Jan.PostTax.Amount)</td>
                <td>@P0(y.Jan.PreTax.Allocation) | @P0(y.Jan.PostTax.Allocation)</td>

                <td>@R100(y.Fees.Total())</td>
                <td>@R100(y.Expenses.PYTax)</td>
                <td>@R100(y.Expenses.CYExp)</td>

                <td>@R100(y.Incomes.SS)</td>
                <td>@R100(y.Incomes.Ann)</td>

                <td class="@RG(fromPreTax)">@R100(fromPreTax)</td>
                <td class="@RG(fromPostTax)">@R100(fromPostTax)</td>
                <td class="@RG(fromCash)">@R100(fromCash)</td>

                <td class="@CSS(y.Change.Total())">
                    @R100(y.Change.Total())
                </td>
                <td class="@CSS(y.Change.Total())">
                    @y.ROI.LikeYear | @($"{y.ROI.StocksROI,6:P1}") | @($"{y.ROI.BondsROI,6:P1}")
                </td>
            </tr>
        }

    </tbody>
</table>

@code
{
    const double TheInflationRate = 0.03;

    [Parameter] public string Id { get; set; } = null!;
    [Parameter] public string Caption { get; set; } = "";
    [Parameter] public SimIteration Iteration { get; set; } = null!;


    static string CSS(double value) => value < 0.0 ? "text-danger" : string.Empty;

    static string RG(double value) => value < 0.0 ? "text-danger" : "text-success";


}