@using System;
@using NinthBall.Core;
@using NinthBall.Outputs;

@{
    var Cols = ColumnDefinitions.DefaultHtmlColumns;
}

<!-- Presents year-by-year details of single iteration -->
<table id="@Id" class="table table-sm caption-top page-break mb-0" style="width: 100%;">

    <caption>
        <div>
            <h3 class="mb-0">@Caption</h3>
            <small class="text-muted">All values are nominal. Monetary amounts are in thousands</small>
        </div>
    </caption>

    <colgroup>

        @{
            // Compute relative with in percentage.
            var relativeWidths = Cols.Select(x => x.GetWidthHint()).ToArray().ToRelativeWidths().ToArray();

            for(int i=0; i<Cols.Count; i++)
            {
                var colStyle = $"width:{relativeWidths[i]:P2}";

                // Render <col> element
                <col style="@colStyle">
            }
        }

    </colgroup>

    <tbody>


        <!-- Summary row (totals, ann-returns, etc.) on top -->


        <tr class="text-end">
            @foreach(var cid in Cols)
            {
                var aggValue   = Iteration.GetAggregateValue(cid);
                var formatHint = cid.GetFormatHint();
                var alignHint  = cid.GetAlignmentHint();
                var colorHint  = "text-secondary"; // Always muted for summary

                // Formatting logic for summary
                var isCurrencyValue = formatHint is FormatHint.C0 or FormatHint.C1 or FormatHint.C2;
                var txtCellValue = string.Empty;

                if (aggValue.HasValue)
                {
                    if (isCurrencyValue)
                    {
                        // Millions logic
                        txtCellValue = aggValue.Value.Millions();
                    }
                    else
                    {
                        // Standard policy logic
                        var fmtSpec = formatHint.ToTextFormat();
                        txtCellValue = aggValue.Value.ToString(fmtSpec);
                    }
                }
                
                <td class="@colorHint @alignHint.ToCSSTextAlignment()">@txtCellValue</td>
            }
        </tr>

        <!-- Labels are printed after summary row -->
        <tr class="text-end">

            @foreach (var cid in Cols)
            {
                var colName = cid.GetColName();
                var title = cid.GetColTitle();
                var cssAlign = cid.GetAlignmentHint().ToCSSTextAlignment();

                <th class="@cssAlign" title="@title">@colName</th>
            }

        </tr>

        <!-- Labels are printed summary row on top -->
        @foreach (var y in Iteration.ByYear.Span)
        {
            <tr class="text-end">
            @foreach (var cid in Cols)
            {
                var cellValue  = y.GetCellValue(cid, Iteration);
                var formatHint = cid.GetFormatHint();
                var alignHint  = cid.GetAlignmentHint();
                var colorHint  = y.GetCellColorHint(cid, Iteration);

                // We are displaying all amounts in thousands.
                // We infer currency values based on suggested format
                var isCurrencyValue = formatHint is FormatHint.C0 or FormatHint.C1 or FormatHint.C2;
                cellValue /= isCurrencyValue ? 1000.0 : 1.0;

                var fmtSpec = formatHint.ToTextFormat();
                var txtCellValue = cellValue.HasValue ? cellValue.Value.ToString(fmtSpec) : string.Empty;

                <td class="@colorHint.ToCSSColor() @alignHint.ToCSSTextAlignment()">@txtCellValue</td>
            }
            </tr>
        }

    </tbody>
</table>

@code
{
    // const double TheInflationRate = 0.03;

    [Parameter] public string Id { get; set; } = null!;
    [Parameter] public string Caption { get; set; } = "";
    [Parameter] public SimIteration Iteration { get; set; } = null!;
}
