@using System;

<!-- Presents year-by-year details of single iteration -->
<table id="@Id" class="table table-sm caption-top page-break mb-0" style="table-layout: fixed; width: 100%;">
    <caption>
        <h3>@Caption</h3>
    </caption>
    <thead>
    </thead>
    <tbody>

        <!-- Summary row (totals, ann-returns, etc.) on top -->

        <!-- Labels are printed summary row on top -->
        <tr>
            <th>Year</th>

            <th>J401K</th>
            <th>JInv</th>

            <th>PYTax</th>
            <th>PYFee</th>
            <th>CYExp</th>

            <th>SS</th>
            <th>ANN</th>
            <th>X401K</th>
            <th>XInv</th>

            <th>C401K</th>
            <th>CInv</th>
            <th>Surplus</th>

            <th>LikeYr</th>
        </tr>

        <!-- Details -->
        @foreach (var y in Iteration.ByYear)
        {
            <tr>
                <td>@y.Year</td>

                <td>@y.Jan401K.ToString("C0")</td>
                <td>@y.JanInv.ToString("C0")</td>

                <td>@y.PYTaxes.ToString("C0")</td>
                <td>@y.PYFees.ToString("C0")</td>
                <td>@y.CYExp.ToString("C0")</td>

                <td>@y.SS.ToString("C0")</td>
                <td>@y.ANN.ToString("C0")</td>
                <td>@y.X401K.ToString("C0")</td>
                <td>@y.XInv.ToString("C0")</td>
                
                <td>@y.Change401K.ToString("C0")</td>
                <td>@y.ChangeInv.ToString("C0")</td>
                <td>@y.Surplus.ToString("C0")</td>

                <td>@y.LikeYear</td>
            </tr>
        }

    </tbody>
</table>

@code
{
    const double TheInflationRate = 0.03;

    [Parameter] public string Id { get; set; } = null!;
    [Parameter] public string Caption { get; set; } = "";
    [Parameter] public SimIteration Iteration { get; set; } = null!;
}