@using System;
@using NinthBall.Core;

<!-- Presents year-by-year details of single iteration -->
<table id="@Id" class="table table-sm caption-top page-break mb-0" style="width: 100%;">

    <caption>
        <div>
            <h3 class="mb-0">
                @Caption
            </h3>
        </div>
    </caption>

    <colgroup>
        <col style="width:2%">
        <col style="width:2%">

        <col style="width:6%">
        <col style="width:6%">
        <col style="width:6%">

        <col style="width:4%">
        <col style="width:4%">
        <col style="width:4%">
        <col style="width:4%">
        <col style="width:4%">

        <col style="width:6%">
        <col style="width:6%">
        <col style="width:6%">

        <col style="width:6%">
        <col style="width:6%">
        <col style="width:6%">

        <col style="width:3%">
        <col style="width:3%">
        <col style="width:3%">

    </colgroup>

    <tbody>

        <!-- Summary row (totals, ann-returns, etc.) on top -->
        @{
            var totalFees = Iteration.Sum(x => x.Fees.Total());
            var totalTaxes = Iteration.Sum(x => x.Expenses.PYTax.Total());
            var totalExp = Iteration.Sum(x => x.Expenses.CYExp);
            var totalSS = Iteration.Sum(x => x.Incomes.SS);
            var totalAnn = Iteration.Sum(x => x.Incomes.Ann);
            var totalXPreTax = Iteration.Sum(x => x.Withdrawals.PreTax);
            var totalXPostTax = Iteration.Sum(x => x.Withdrawals.PostTax);
            var totalXCash = Iteration.Sum(x => x.Withdrawals.Cash);
            var totalChange = Iteration.Sum(x => x.Change.Total());
        }

        <tr class="text-end">
            <td colspan="5" class="text-start">
                <small class="text-muted">
                    All numbers are dispayed in thousands.
                </small>
            </td>

            <td class="text-secondary">@totalFees.Millions()</td>
            <td class="text-secondary">@totalTaxes.Millions()</td>
            <td class="text-secondary">@totalExp.Millions()</td>

            <td class="text-secondary">@totalSS.Millions()</td>
            <td class="text-secondary">@totalAnn.Millions()</td>
            <td class="text-secondary">@totalXPreTax.Millions()</td>
            <td class="text-secondary">@totalXPostTax.Millions()</td>
            <td class="text-secondary">@totalChange.Millions()</td>

            <!--
            <td></td>
            <td></td>
            <td></td>

            <td></td>
            <td></td>
            <td></td>
            -->
        </tr>

        <!-- Labels are printed summary row on top -->
        <tr class="text-end">
            <th class="text-center">Yr</th>
            <th class="text-center">Age</th>

            <th>Jan 401K</th>
            <th>Jan Inv</th>
            <th title="Approx asset value (401K less 25% + Inv - Fees)" class="text-primary">~Total</th>
           
            <th>Fees</th>
            <th>Taxes</th>
            <th>Exp</th>

            <th>SS</th>
            <th>ANN</th>
            <th>X401K</th>
            <th>XInv</th>
            <th>Change</th>

            <th>Dec 401K</th>
            <th>Dec Inv</th>
            <th title="Approx asset value (401K less 25% + Inv)" class="text-primary">~Total</th>

            <th>Like</th>
            <th>Stocks</th>
            <th>Bonds</th>
        </tr>

        <!-- Details -->
        @foreach (var y in Iteration.ByYear.Span)
        {
            static string RG(double value) => value < 0.0 ? "text-danger" : "text-success";
            static string RBGPct(double pctValue) => pctValue >= -0.04 && pctValue <= +0.04 ? "text-secondary" : pctValue <= 0 ? "text-danger" : "text-success";
            static string K0(double value) => Math.Abs(value) >= 999.0 ? $"{value / 1000:C0}" : string.Empty;
            static string P1(double pct) => Math.Abs(pct) > 0.001 ? $"{pct:P1}" : string.Empty;
            static string Y4(int year) => year > 0 ? $"{year:0000}" : string.Empty;

            var pyExp = y.Year > 1 ? Iteration.ByYear.Span[y.Year - 1].Expenses.CYExp : double.MinValue;
            var expReduction = y.Expenses.CYExp < pyExp;

            double janPreTax  = y.Jan.PreTax.Amount;
            double janPostTax = y.Jan.PostTax.Amount;
            double janAssets  = y.Jan.ApproxValue;

            double fees       = y.Fees.Total();
            double pyTax      = y.Expenses.PYTax.Total();
            double cyExp      = y.Expenses.CYExp;
            double ss         = y.Incomes.SS;
            double ann        = y.Incomes.Ann;
            double xPreTax    = y.Withdrawals.PreTax * -1;
            double xPostTax   = y.Deposits.PostTax - y.Withdrawals.PostTax;
            double xCash      = y.Deposits.Cash - y.Withdrawals.Cash;
            double change     = y.Change.Total();
            double decPreTax  = y.Dec.PreTax.Amount;
            double decPostTax = y.Dec.PostTax.Amount;
            double decAssets  = y.Dec.ApproxValue;

            var cssPreTax     = RG(xPreTax);
            var cssPostTax    = RG(xPostTax);
            var cssROI        = RG(change);
            var cssExp        = expReduction ? "text-warning fw-bold" : string.Empty;

            <tr class="text-end">

                <td class="text-center">@(y.Year + 1)</td>
                <td class="text-center">@y.Age</td>

                <td>@K0(janPreTax)</td>
                <td>@K0(janPostTax)</td>
                <td class="text-primary">@K0(janAssets)</td>

                <td>@K0(fees)</td>
                <td>@K0(pyTax)</td>
                <td class="@cssExp">@K0(cyExp)</td>

                <td>@K0(ss)</td>
                <td>@K0(ann)</td>
                <td class="@cssPreTax">@K0(xPreTax)</td>
                <td class="@cssPostTax">@K0(xPostTax)</td>
                <td class="@cssROI">@K0(change)</td>

                <td>@K0(decPreTax)</td>
                <td>@K0(decPostTax)</td>
                <td class="text-primary">@K0(decAssets)</td>

                <td class="@cssROI">@Y4(y.ROI.LikeYear)</td>
                <td class="@RBGPct(y.ROI.StocksROI)">@P1(y.ROI.StocksROI)</td>
                <td class="@RBGPct(y.ROI.BondsROI)">@P1(y.ROI.BondsROI)</td>
            </tr>
        }

    </tbody>
</table>

@code
{
    const double TheInflationRate = 0.03;

    [Parameter] public string Id { get; set; } = null!;
    [Parameter] public string Caption { get; set; } = "";
    [Parameter] public SimIteration Iteration { get; set; } = null!;

}
