@using System;
@using NinthBall.Core;

<!-- Summary view of chosen percentiles -->
<table id="percentiles" class="table table-sm caption-top" style="table-layout: fixed; width: 100%;">
    <caption>
        <h3>Percentiles</h3>
    </caption>
    <tbody>
        <tr>
            <th></th>
            @foreach (var p in Percentiles.Items)
            {
                <td class="text-primary">
                    @p.Caption
                </td>
            }
        </tr>
        <tr>
            <th></th>
            @foreach (var p in Percentiles.Items)
            {
                <td class="text-secondary">@p.Tag</td>
            }
        </tr>
        <tr>
            <th>End (Real)</th>
            @foreach (var p in Percentiles.Items)
            {
                var iter = Model.Percentile(p.Pctl);

                if (iter.Success)
                {
                    var endBalance = iter.ByYear.Span[^1].Dec.Total().InflationAdjustedValue(TheInflationRate, iter.SurvivedYears).Millions();
                    <th>@endBalance</th>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>
        <tr>
            <td>End (Nominal)</td>
            @foreach (var p in Percentiles.Items)
            {
                var iter = Model.Percentile(p.Pctl);

                if (iter.Success)
                {
                    var endBalance = iter.ByYear.Span[^1].Dec.Total().Millions();
                    <td class="text-secondary">@endBalance</td>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>
        <tr>
            <td>Change (Annualized)</td>
            @foreach (var p in Percentiles.Items)
            {
                var iter = Model.Percentile(p.Pctl);
                var pctChange = AnnualizeChangePCT(iter.ByYear);
                <td class="text-secondary">
                    @($"{pctChange:P1}")
                </td>
            }
        </tr>
    </tbody>

</table>

@code
{
    [Parameter] public SimResult Model { get; set; } = null!;

    // TODO: Externalize. 
    const double TheInflationRate = 0.03;

    static double AnnualizeChangePCT(ReadOnlyMemory<SimYear> byYear)
    {
        double compoundReturn = 1;
        int count = 0;

        for(int i=0; i<byYear.Length; i++)
        {
            var r = byYear.Span[i].ChangePCT;
            checked { compoundReturn *= (1 + r); }
            count++;
        }

        return 0 == count ? 0.0 : Math.Pow(compoundReturn, 1.0 / count) - 1;
    }
}
