@using System;
@using NinthBall.Core;
@using NinthBall.Outputs;

<!-- Summary view of chosen percentiles -->
<table id="percentiles" class="table table-sm caption-top" style="table-layout: fixed; width: 100%;">
    <caption>
        <h3>Percentiles</h3>
    </caption>
    <tbody>

        <!-- Percentile Tags -->
        <tr>
            <td>Percentile</td>

            @foreach (var p in Percentiles)
            {
                <td class="text-primary">
                    @p.PctlName
                </td>
            }
        </tr>

        <!-- Percentile sentiments -->
        <tr>
            <th></th>

            @foreach (var p in Percentiles)
            {
                <td class="text-secondary">@p.FriendlyName</td>
            }
        </tr>

        <!-- Ending balance (Real) -->
        <tr>
            <th>End (Real)</th>

            @foreach (var p in Percentiles)
            {
                var iter = SimResult.Percentile(p.Pctl);

                if (iter.Success)
                {
                    // Assuming 3% inflation to calculate inflation adjusted real purchasing power.
                    // const double TheInflationRate = 0.03;   

                    var endBalance = iter.EndingBalance.InflationAdjustedValue(SimResult.Input.InflationRate, iter.SurvivedYears).Millions();
                    <th>@endBalance</th>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>

        <!-- Ending balance (Nominal) -->
        <tr>
            <td>End (Nominal)</td>

            @foreach (var p in Percentiles)
            {
                var iter = SimResult.Percentile(p.Pctl);

                if (iter.Success)
                {
                    var endBalance = iter.EndingBalance.Millions();
                    <td class="text-secondary">@endBalance</td>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>

        <!-- End-to-end ROI (Annualized) -->
        <tr>
            <td>Change (Annualized)</td>

            @foreach (var p in Percentiles)
            {
                var iter = SimResult.Percentile(p.Pctl);
                var annualizedEffectiveROI = iter.GetAggregateValue(CID.ROI);

                <td class="text-secondary">
                    @($"{annualizedEffectiveROI:P1}")
                </td>
            }
        </tr>

    </tbody>

</table>

@code
{
    [Parameter] public SimResult SimResult { get; set; } = null!;
    [Parameter] public SimOutput OutputConfig { get; set; } = null!;

    private IReadOnlyList<Percentile> Percentiles => OutputConfig.GetPercentilesOrDefault();
}
