@using System;
@using NinthBall.Core;

<!-- Summary view of chosen percentiles -->
<table id="percentiles" class="table table-sm caption-top" style="table-layout: fixed; width: 100%;">
    <caption>
        <h3>Percentiles</h3>
    </caption>
    <tbody>

        <!-- Percentile Tags -->
        <tr>
            <td>Percentile</td>

            @foreach (var p in Percentiles.Items)
            {
                <td class="text-primary">
                    @p.Caption
                </td>
            }
        </tr>

        <!-- Percentile sentiments -->
        <tr>
            <th></th>

            @foreach (var p in Percentiles.Items)
            {
                <td class="text-secondary">@p.Tag</td>
            }
        </tr>

        <!-- Ending balance (Real) -->
        <tr>
            <th>End (Real)</th>

            @foreach (var p in Percentiles.Items)
            {
                var iter = Model.Percentile(p.Pctl);

                if (iter.Success)
                {
                    // Assuming 3% inflation to calculate inflation adjusted real purchasing power.
                    const double TheInflationRate = 0.03;   

                    var endBalance = iter.EndingBalance.InflationAdjustedValue(TheInflationRate, iter.SurvivedYears).Millions();
                    <th>@endBalance</th>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>

        <!-- Ending balance (Nominal) -->
        <tr>
            <td>End (Nominal)</td>

            @foreach (var p in Percentiles.Items)
            {
                var iter = Model.Percentile(p.Pctl);

                if (iter.Success)
                {
                    var endBalance = iter.EndingBalance.Millions();
                    <td class="text-secondary">@endBalance</td>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>

        <!-- End-to-end ROI (Annualized) -->
        <tr>
            <td>Change (Annualized)</td>

            @foreach (var p in Percentiles.Items)
            {
                var iter = Model.Percentile(p.Pctl);
                var pctChange = iter.ByYear.AnnualizeChangePCT();

                <td class="text-secondary">
                    @($"{pctChange:P1}")
                </td>
            }
        </tr>

    </tbody>

</table>

@code
{
    [Parameter] public SimResult Model { get; set; } = null!;

}
