@using System;
@using NinthBall.Core;

<!-- Simulation parameters -->
<div>
    <h4 class="mt-3">
        @($"{InitialBalance:C0}") | @($"{StockAllocationPct:P0}") - @($"{BondAllocationPct:P0}") | @NumYears years | @NumIterations.ToString("#,0") iterations
    </h4>
    <ul>
        @foreach (var obj in Model.Objectives)
        {
            <li>@obj.ToString()</li>
        }
    </ul>
</div>

@code
{
    [Parameter] public SimResult Model { get; set; } = null!;


    Assets Starting => Model.Iterations[0].ByYear.Span[0].Jan;
    double InitialBalance => Starting.Total();
    double StockAllocationPct => Starting.PreTax.Allocation;
    double BondAllocationPct => 1 - Starting.PreTax.Allocation;
    int    NumYears => Model.NoOfYears;
    int    NumIterations => Model.Iterations.Count;
}