@using System;
@using NinthBall.Core;
@using NinthBall.Reports;

<!-- TabSet - Details on chosen percentiles -->
<div>

    <ul class="nav" role="tablist">
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Details: </a>
        </li>
        @foreach (var p in Percentiles)
        {
            var pctlId = PercentileId(p);
            var pctlCaption = p.PctlName;

            var isActive = p == ActivePctl ? "active" : "";

            <li class="nav-item">
                <a class="nav-link @isActive" data-bs-toggle="tab" href="#@(pctlId)">@pctlCaption</a>
            </li>
        }

        @foreach (var IT in Iterations)
        {
            if (IT < 0 || IT > SimResult.Iterations.Count - 1) continue;

            // Calculate the rank (0.0 to 1.0) and convert to "20th" style caption
            var rank = SimResult.IterationPercentile(IT);
            var pctlCaption = rank >= 0 ? $" ({rank.PctlName})" : "";

            var iter = SimResult.Iterations.Where(x => x.Index == IT).Single();
            var iterId  = $"I{IT:0000}";
            var caption = $"#{IT:0000}{pctlCaption}";

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#@(iterId)">@caption</a>
            </li>
        }

    </ul>

    <div class="tab-content">

        @foreach (var p in Percentiles)
        {
            var iter = SimResult.Percentile(p);
            var pctlId = PercentileId(p);
            var caption = $"{p.PctlName} Percentile [#{iter.Index}]";
            var isActive = p == ActivePctl ? "active" : "";
            <div class="tab-pane @isActive" id="@(pctlId)">
                <SimIterationDetails Id="@pctlId" Caption="@caption" Iteration=iter Columns=Columns Percentiles=Percentiles />
            </div>
        }

        @foreach (var IT in Iterations)
        {
            if (IT < 0 || IT > SimResult.Iterations.Count - 1) continue;

            var rank = SimResult.IterationPercentile(IT);
            var caption = rank >= 0 ? $"Iteration #{IT:0000} ({rank.PctlName} Pctl)" : $"#{IT:0000}";

            // We are using un-sorted view of a specific iteration path
            // Iteration is selected using SimIteration.Index, not by array index which will be sorted.
            var iter = SimResult.Iterations.Where(x => x.Index == IT).Single();
            var iterId  = $"I{IT:0000}";
            // var caption = $"#{IT:0000} {pctlCaption}";

            <div class="tab-pane" id="@(iterId)">
                <SimIterationDetails Id="@iterId" Caption="@caption" Iteration=iter Columns=Columns Percentiles=Percentiles />
            </div>
        }

    </div>
</div>

@code
{
    [Parameter] public SimResult SimResult { get; set; } = null!;
    [Parameter] public IReadOnlyList<CID> Columns { get; set; } = [];
    [Parameter] public IReadOnlyList<double> Percentiles { get; set; } = [];
    [Parameter] public IReadOnlyList<int> Iterations { get; set; } = [];

    private double? ActivePctl => Percentiles.Count == 0 ? null : Percentiles.OrderBy(p => Math.Abs(p - 0.2)).First();  // TODO: Rewire target percentile from config

    // Computes an unique html-id for the chosen percentile.
    static string PercentileId(double pctl) => $"{pctl * 100:00}";
}